.form
{
	width: 99%;
	background-color: white;
	padding: 10px;
}

.form h4
{
	text-align: center;
	font-weight: bold;
	color: orange;
}

form
{
	background-color: white;
	width: 99%;
	padding: 20px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 50px;
}

form label
{
	font-size: 17px;
	font-weight: bold;
	margin-left: 180px;
}

form input
{
	width: 70%;
	margin-left: 180px;
	height: 50px;
}

textarea
{
	width: 70%;
	margin-left: 180px;
}

.button
{
	background-color: green;
	color: white;
	border-radius: 18px;
	font-size: 18px;
	font-weight: bold;
	border: none;
}