*
{
	margin: 0px;
	box-sizing: border-box;
}

body
{
	background-color: rgb(255, 253, 231);
	padding: 1px;
}

.container-logosec
{
	padding: 20px;
	height: 100px;
	width: 100%;
	background-color: rgb(255, 253, 231);
}

.image
{
	padding: 5px;
	height: 50px;
	float: left;
	width: 40%;
	margin-left: 50px;
}

.nav-input 
{
	float: right;
	padding: 10px;
	margin-right: 10px;
	border: none;
	color: blue;
	background-color: transparent;
	font-weight: bold;
	font-size: 15px;
	margin-top: 25px;
	border-radius: 12px;
}

.nav-input:hover
{
	color: white;
	background-color: rgb(229, 57, 53);
}

.searching
{
	float: right;
	margin-right: 150px;
	width: 30%;
	height: 50px;
	margin-top: 30px;
	font-weight: bold;
}

.container-fluid
{
	font-weight: bold;
	float: left;
	font-size: 20px;
	margin-top: 25px;
	height: 50px;
	background-color: rgb(243, 156, 18);
	width: 100%;
}

li
{
	justify-content: center;
	margin-left: 60px;
	margin-right: 60px;
}
.container-fluid:hover
{
	background-color: 
}

.container
{
	width: 94%;
	margin-top: 5px;
}

.col-md-3
{
	width: 23%;
	background-color: white;
	margin-left: -40px;
	margin-top: 5px;
}

.col-md-3 p
{
	margin-left: 16px;
	font-size: 14px;
	font-weight: bold;
}

.slideshow-container
{
	width: 600px;
	height: 400px;
	margin-left: 240px;
	margin-top: 7px;
}

.brand
{
	float: right;
	margin-top: -400px;
	background-color: white;
	width: 20%;
	margin-right: -30px;
}

.brand p
{
	margin-left: 16px;
	font-size: 14px;
	font-weight: bold;
}

.about
{
	padding: 10px;
	margin-top: 20px;
}

.about h3
{
	font-weight: bold;
	color: orange;
	margin-left: 10px;
	text-align: center;
}

.about p
{
	font-weight: normal;
	font-size: 15px;
	justify-content: left;
	padding: 10px;
	margin-left: 25px;
	margin-right: 25px;
}

.clients
{
	width: 100%;
	height: 140px;
	margin-left: 10px;
	margin-right: 70px;
	background-color: white;
}

.clients img
{
	float: left;
	padding: 10px;
	margin-left: 130px;
	border: none;
	color: blue;
	font-weight: bold;
	font-size: 15px;
	margin-top: 25px;
	width: 10%;
	justify-content: space-between;
	height: 120px;
}

.contact
{
	width: 100%;
	height: 600px;
	padding: 20px;
}

.contact .col-md-5
{
	width: 30%;
	padding: 10px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	float: left;
	height: 250px;
}

.contact .col-md-5 h4
{
	font-weight: bold;
}

.contact .maps
{
	width: 70%;
	padding: 10px;
	float: right;
	height: 250px;
}

.subscribe
{
	width: 100%;
	height: 70px;
	margin-top: -300px;
	justify-content: center;
	text-align: center;
}

.subscribe .single-line
{
	padding: 20px;
	align-items: center;
	margin-left: 20px;
	margin-top: -300px;
}

.single-line h3
{
	font-weight: bold;
}

.single-line .EmailID
{
	width: 400px;
	height: 40px;
}

.single-line .button
{
	width: 120px;
	height: 40px;
	background-color: green;
	color: white;
	border: none;
	border-radius: 13px;
	margin-left: 10px;
}

.footer
{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin-top: 80px;
	background-color: black;
	color: white;
	height: 40px;
	width: 100%;
	padding: 10px;
	margin-bottom: -500px;
}